/* Error: Undefined mixin.
 *     ,
 * 144 | / @include media-breakpoint-up(sm) { 
 * 145 | | 
 * 146 | | .menu_icon { 
 * 147 | |     display: block; 
 * 148 | | }
 * 149 | | 
 * 150 | \ }
 *     '
 *   recipe.scss 144:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 144 \2502  \250c  @include media-breakpoint-up(sm) { \a 145 \2502  \2502  \a 146 \2502  \2502  .menu_icon { \a 147 \2502  \2502      display: block; \a 148 \2502  \2502  }\a 149 \2502  \2502  \a 150 \2502  \2514  }\a     \2575 \a   recipe.scss 144:1  root stylesheet";
}
