//variables for color 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



$primary: #32021F;
$secondary: #6F7D8C;




html {

    background-size: contain;
    box-sizing: border-box;
    margin-top: 50px;


}

body {
    background-image: url(../images/recipe_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 700px;  
    border: 5px solid #006666;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;

}

header {

    background: $secondary;

}

nav#page_nav {
    background-color: #3a3a3a;



}

nav ul {
    padding-left: 5px;
    margin: 0;
    list-style: none;
    display: inline-block;
}



nav a {
    color: $secondary;
    text-decoration: none;
    padding-right: 8px;
    text-align: center;

    justify-items: center;
    margin: 0 auto;


}

nav a:hover {
    background-color: $primary;

    //padding: 8px;

}

.menu_icon {
    display: none
}

form-control {
    width: 0;
}

td {
    width: 200px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: White;
}

h3 {
    text-align: center;
    color: white;
}

.card-body {
    margin-top: 10px;
    margin: 0 auto;
    width: 80%;
}

.card {
    margin-top: 20px;


}

.temp {
    text-align: center;
    border-bottom: 1px solid $secondary;
}

.directions {
    border-top: 1px solid $secondary;
}


form,
div.add_1 {
    margin-left: 10px;
}

p.text-danger {
    margin-left: 10px;
    font-size: 20px;
}

a.my_account {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

img {
    margin-left: 5px; 
    margin-top: 5px; 
}

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap





// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }