/* Error: expected "{".
 *     ,
 * 153 | @include media-breakpoint-up(md) { ... }
 *     |                                        ^
 *     '
 *   recipe.scss 153:40  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 153 \2502  @include media-breakpoint-up(md) { ... }\d\a     \2502                                         ^\a     \2575 \a   recipe.scss 153:40  root stylesheet';
}
