//variables for color 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #32021F; 
$secondary: #6F7D8C; 

html {
    //background-image: url("/phpmotors/images/site/checkerboard.jpg");
    background-size: contain;
    box-sizing: border-box;

}
body {
    background-color: $secondary;
    border: 5px solid #4c96d7;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    margin: 0 auto; 
    box-sizing: border-box;

}

header { 
    width: 800px; 
    background: $primary; 
    color: $secondary; 
}


